<link rel="stylesheet" href="./css/aboutstyle.css">


<%- include('partials/header.ejs') %>

<h1>
    About me
</h1>

<div>
<p>Here is a link to my resume</p>

<a href="resume.pdf">My Resume</a>

</div>