<!-- Contact
Ildaphonse Cornolius
Date: October 21st, 2022 -->

<!-- Linking to the bootstrap css  -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<!-- 
Linking to the header.ejs file to be used as a navigation bar  -->
<%- include('partials/header.ejs') %>
<!-- 
Displaying the company's contact information  -->
 <main> 
   

<!-- 
Displaying a form for the user to enter their info, which will be displayed in the home page  -->
    <form action="/contact" method="get">
        <h2>Data Form</h2>
        <hr>
      
       
          <label>Name: &nbsp;&nbsp;&nbsp;  </label>
          <input name="name" type="text" placeholder="Name"><br><br>
                                                             
          <label>Message:</label>
        <textarea name="message" placeholder="Enter a Message"></textarea>
        
          <br><br>
        
      
          <button>
            Send
          </button>
      
      </form>


    <form action="/delete" method="get">
      <button>
        Delete
      </button>
    </form >

   
      
      <%- title %>
  </div>
</main>
<br>
<br>
<br>
<br>
<br>
  <%- include('partials/footer.ejs') %>

