<!-- Contact
Ildaphonse Cornolius
ID: 300699371
Date: October 2nd, 2022 -->

<header>
    Contact
</header>
<!-- Linking to the bootstrap css  -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<!-- 
Linking to the header.ejs file to be used as a navigation bar  -->
<%- include('partials/header.ejs') %>
<!-- 
Displaying the company's contact information  -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text">linkedin: https://www.linkedin.com/in/ildaphonse-cornolius/</p>
      <p class="card-text">phone number: 416-221-4891</p>
      <p class="card-text">email: ildacorn@gmail.com</p>
      <p class="card-text">address: 192 Trafalger Road</p>


    </div>


<!-- 
Displaying a form for the user to enter their info, which will be displayed in the home page  -->
    <form action="/index" method="get">
        <h2>Contact Form</h2>
        <hr>
                      
          <label>First name</label>
          <input name="first" type="text" placeholder="first_name"><br><br>
      
          <label>Last name</label>
          <input name="last" type="text" placeholder="last_name"><br><br>
      
          <label>Email</label>
          <input name="email" type="email" placeholder="email"><br><br>
      
          <label>Phone number</label>
          <input name="phone" type="tel" placeholder="phone"><br><br>
                      
          
      <br><br>
        <textarea name="message" placeholder="Enter a Message"></textarea>
        
          <br><br>
        
      
          <button>
            Send
          </button>
      
      </form>


  </div>


  <%- include('partials/footer.ejs') %>