<!-- home page / index
Ildaphonse Cornolius
Date: October 21st, 2022 -->
<!--displaying the sent data information from route.js-->
<%- data %>

<!--going back to the index on click-->
<form action="/index" method="get">
    <button>
      Go back to home page
    </button>
  </form >