<!-- home page / index
Ildaphonse Cornolius
Date: October 21st, 2022 -->

<!-- 
including the header.ejs as a navigation bar  -->
<%- include('partials/header.ejs') %>
<script src="anime.min.js"></script>

<style>
/* setting the styles for the buttons as well as  the title text  */

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.title1{
font-size: xx-large;
}

.title2{
font-size: small;
}


</style>


<!-- 

  
Displaying a welcome message to the user  -->

   <svg  width="946.71875px" height="250.39999999999998px" xmlns="http://www.w3.org/2000/svg" id="welcome" viewBox="-223.359375 -50.19999999999999 946.71875 250.39999999999998" style="background: rgba(0, 0, 0, 0);" preserveAspectRatio="xMidYMid"><defs><linearGradient id="editing-outline-gradient" x1="-0.37461970713939574" x2="1.3746197071393957" y1="0.015190379753662941" y2="0.984809620246337"><stop offset="0" stop-color="#ee4208"></stop><stop offset="1" stop-color="#4139ff"></stop></linearGradient><filter id="editing-outline" x="-100%" y="-100%" width="300%" height="300%"><feMorphology in="SourceGraphic" operator="dilate" radius="1" result="outline"></feMorphology><feComposite operator="out" in="outline" in2="SourceAlpha"></feComposite></filter></defs><g filter="url(#editing-outline)"><g transform="translate(-85.66238617897034, 145.05500507354736)"><path d="M150.07-118.94L150.07-118.94L150.07-118.94Q150.95-118.94 151.70-118.94L151.70-118.94L151.70-117.68L151.70-117.68Q145.78-117.43 140.49-114.91L140.49-114.91L140.49-114.91Q135.20-112.39 131.54-108.93L131.54-108.93L131.54-108.93Q127.89-105.46 124.74-100.55L124.74-100.55L124.74-100.55Q119.70-92.74 116.17-82.66L116.17-82.66L91.98-12.47L91.98-12.47Q89.46-4.54 89.21 1.51L89.21 1.51L88.07 1.51L62.37-70.43L42.08-6.93L42.08-6.93Q37.55 7.31 27.47 15.25L27.47 15.25L27.47 15.25Q20.16 21.17 11.09 21.17L11.09 21.17L11.09 21.17Q7.94 21.17 4.41 20.41L4.41 20.41L4.66 19.15L4.66 19.15Q6.55 19.53 9.01 19.53L9.01 19.53L9.01 19.53Q11.47 19.53 15.56 18.02L15.56 18.02L15.56 18.02Q19.66 16.51 23.69 12.60L23.69 12.60L23.69 12.60Q31.88 4.66 36.29-7.31L36.29-7.31L10.84-79.25L10.84-79.25Q9.32-83.03 6.17-84.99L6.17-84.99L6.17-84.99Q3.02-86.94-0.25-86.94L-0.25-86.94L-1.26-86.94L-1.26-88.20L26.71-88.20L26.71-86.94L25.58-86.94L25.58-86.94Q22.93-86.94 21.61-85.24L21.61-85.24L21.61-85.24Q20.29-83.54 20.29-82.03L20.29-82.03L20.29-82.03Q20.29-80.51 20.66-79.25L20.66-79.25L39.82-17.89L63.25-90.22L64.39-90.09L89.33-20.29L107.98-82.66L107.98-82.66Q111.26-93.62 118.06-102.44L118.06-102.44L118.06-102.44Q130.66-118.94 150.07-118.94ZM127.76-1.26L129.40-1.26L129.40-1.26Q132.68-1.26 135.01-3.59L135.01-3.59L135.01-3.59Q137.34-5.92 137.47-9.20L137.47-9.20L137.47-79.76L137.47-79.76Q137.47-82.78 135.07-84.86L135.07-84.86L135.07-84.86Q132.68-86.94 129.40-86.94L129.40-86.94L127.89-86.94L127.76-88.20L164.68-88.20L164.68-88.20Q168.59-88.20 173.19-88.96L173.19-88.96L173.19-88.96Q177.79-89.71 179.68-90.47L179.68-90.47L179.68-74.59L178.42-74.59L178.42-76.86L178.42-76.86Q178.42-79.88 176.34-82.03L176.34-82.03L176.34-82.03Q174.26-84.17 171.36-84.29L171.36-84.29L145.66-84.29L145.66-45.36L166.95-45.36L166.95-45.36Q169.47-45.49 171.23-47.25L171.23-47.25L171.23-47.25Q173.00-49.01 173.00-51.66L173.00-51.66L173.00-53.42L174.26-53.42L174.26-33.52L173.00-33.52L173.00-35.41L173.00-35.41Q173.00-37.93 171.30-39.69L171.30-39.69L171.30-39.69Q169.60-41.45 167.08-41.58L167.08-41.58L145.66-41.58L145.66-3.91L163.67-3.91L163.67-3.91Q173.00-3.91 177.91-8.06L177.91-8.06L177.91-8.06Q182.83-12.22 186.10-20.41L186.10-20.41L187.36-20.41L180.05 0L127.76 0L127.76-1.26ZM199.21-1.26L200.84-1.26L200.84-1.26Q204.12-1.26 206.45-3.59L206.45-3.59L206.45-3.59Q208.78-5.92 208.91-9.20L208.91-9.20L208.91-79.00L208.91-79.00Q208.78-82.28 206.45-84.61L206.45-84.61L206.45-84.61Q204.12-86.94 200.84-86.94L200.84-86.94L199.21-86.94L199.21-88.20L226.80-88.20L226.80-86.94L225.16-86.94L225.16-86.94Q220.63-86.94 218.23-83.03L218.23-83.03L218.23-83.03Q217.10-81.14 217.10-79.00L217.10-79.00L217.10-3.91L235.12-3.91L235.12-3.91Q244.44-3.91 249.35-8.06L249.35-8.06L249.35-8.06Q254.27-12.22 257.54-20.41L257.54-20.41L258.80-20.41L251.50 0L199.21 0L199.21-1.26ZM312.48 1.76L312.48 1.76Q292.57 1.64 280.04-10.96L280.04-10.96L280.04-10.96Q267.50-23.56 267.50-44.16L267.50-44.16L267.50-44.16Q267.50-64.76 280.04-77.36L280.04-77.36L280.04-77.36Q292.57-89.96 313.24-89.96L313.24-89.96L313.24-89.96Q330.12-89.96 343.10-81.40L343.10-81.40L345.62-63.63L344.48-63.63L344.48-63.63Q341.71-74.47 333.27-80.33L333.27-80.33L333.27-80.33Q324.83-86.18 313.24-86.18L313.24-86.18L313.24-86.18Q296.73-86.18 286.84-74.72L286.84-74.72L286.84-74.72Q276.95-63.25 276.95-44.35L276.95-44.35L276.95-44.35Q276.95-25.45 286.71-13.92L286.71-13.92L286.71-13.92Q296.48-2.39 312.48-2.02L312.48-2.02L312.48-2.02Q326.59-2.02 336.04-9.70L336.04-9.70L336.04-9.70Q346.25-18.02 348.39-36.79L348.39-36.79L349.40-36.79L347.89-17.01L347.89-17.01Q336.42 1.76 312.48 1.76L312.48 1.76ZM374.22-77.30L374.22-77.30L374.22-77.30Q387.70-89.96 409.19-89.96L409.19-89.96L409.19-89.96Q430.67-89.96 444.15-77.30L444.15-77.30L444.15-77.30Q457.63-64.64 457.63-44.10L457.63-44.10L457.63-44.10Q457.63-23.56 444.15-10.90L444.15-10.90L444.15-10.90Q430.67 1.76 409.19 1.76L409.19 1.76L409.19 1.76Q387.70 1.76 374.22-10.90L374.22-10.90L374.22-10.90Q360.74-23.56 360.74-44.10L360.74-44.10L360.74-44.10Q360.74-64.64 374.22-77.30ZM381.09-13.61L381.09-13.61L381.09-13.61Q391.73-2.02 409.12-2.02L409.12-2.02L409.12-2.02Q426.51-2.02 437.16-13.61L437.16-13.61L437.16-13.61Q447.80-25.20 447.80-44.10L447.80-44.10L447.80-44.10Q447.80-63 437.16-74.59L437.16-74.59L437.16-74.59Q426.51-86.18 409.12-86.18L409.12-86.18L409.12-86.18Q391.73-86.18 381.09-74.59L381.09-74.59L381.09-74.59Q370.44-63 370.44-44.10L370.44-44.10L370.44-44.10Q370.44-25.20 381.09-13.61ZM574.06-1.26L574.06-1.26L576.07-1.26L576.07 0L548.73 0L548.73-1.13L550.62-1.13L550.62-1.13Q552.76-1.13 554.27-2.77L554.27-2.77L554.27-2.77Q555.79-4.41 555.53-6.55L555.53-6.55L549.86-69.93L523.40-11.09L523.40-11.09Q519.88-3.40 519.12 1.76L519.12 1.76L517.86 1.76L485.60-68.17L480.19-6.55L480.19-6.55Q479.93-4.54 481.45-2.83L481.45-2.83L481.45-2.83Q482.96-1.13 485.10-1.13L485.10-1.13L486.99-1.13L486.99 0L462.55 0L462.55-1.26L464.56-1.26L464.56-1.26Q468.09-1.26 470.67-3.40L470.67-3.40L470.67-3.40Q473.26-5.54 473.76-9.20L473.76-9.20L483.21-89.96L484.47-89.96L519.62-13.99L554.02-89.96L555.16-89.96L564.86-9.20L564.86-9.20Q565.36-5.54 568.01-3.40L568.01-3.40L568.01-3.40Q570.65-1.26 574.06-1.26ZM585.52-1.26L587.16-1.26L587.16-1.26Q590.44-1.26 592.77-3.59L592.77-3.59L592.77-3.59Q595.10-5.92 595.22-9.20L595.22-9.20L595.22-79.76L595.22-79.76Q595.22-82.78 592.83-84.86L592.83-84.86L592.83-84.86Q590.44-86.94 587.16-86.94L587.16-86.94L585.65-86.94L585.52-88.20L622.44-88.20L622.44-88.20Q626.35-88.20 630.95-88.96L630.95-88.96L630.95-88.96Q635.54-89.71 637.43-90.47L637.43-90.47L637.43-74.59L636.17-74.59L636.17-76.86L636.17-76.86Q636.17-79.88 634.10-82.03L634.10-82.03L634.10-82.03Q632.02-84.17 629.12-84.29L629.12-84.29L603.41-84.29L603.41-45.36L624.71-45.36L624.71-45.36Q627.23-45.49 628.99-47.25L628.99-47.25L628.99-47.25Q630.76-49.01 630.76-51.66L630.76-51.66L630.76-53.42L632.02-53.42L632.02-33.52L630.76-33.52L630.76-35.41L630.76-35.41Q630.76-37.93 629.06-39.69L629.06-39.69L629.06-39.69Q627.35-41.45 624.83-41.58L624.83-41.58L603.41-41.58L603.41-3.91L621.43-3.91L621.43-3.91Q630.76-3.91 635.67-8.06L635.67-8.06L635.67-8.06Q640.58-12.22 643.86-20.41L643.86-20.41L645.12-20.41L637.81 0L585.52 0L585.52-1.26ZM669.82-88.45L668.30-50.78L665.66-21.42L664.40-21.42L661.88-50.78L660.37-88.45L669.82-88.45ZM669.19-1.13L669.19-1.13L669.19-1.13Q667.55 0.50 665.15 0.50L665.15 0.50L665.15 0.50Q662.76 0.50 661.12-1.13L661.12-1.13L661.12-1.13Q659.48-2.77 659.48-5.17L659.48-5.17L659.48-5.17Q659.48-7.56 661.12-9.20L661.12-9.20L661.12-9.20Q662.76-10.84 665.15-10.84L665.15-10.84L665.15-10.84Q667.55-10.84 669.19-9.20L669.19-9.20L669.19-9.20Q670.82-7.56 670.82-5.17L670.82-5.17L670.82-5.17Q670.82-2.77 669.19-1.13Z" fill="url(#editing-outline-gradient)"></path></g></g><style>text {
  font-size: 64px;
  font-family: Arial Black;
  dominant-baseline: central;
  text-anchor: middle;
}</style></svg>


<br>
<!-- Links to the about page .ejs file  -->
<a href="/contact" class="button">Click here to enter the Contact page!</a>
<br>



<br>
<br>
<br>
<br>
<br>
<!-- <a
<button type="button">About me!</button> -->
<script>
   window.onload = function() {
  anime({
  targets: "#welcome path",
  strokeDashoffset: [anime.setDashoffset, 0],
  easing: 'easeInOutSine',
  duration: 1500,
  delay: function(el, i) { return i * 250 },
  direction: 'alternate',
  loop: true
});
   }
</script>
<%- include('partials/footer.ejs') %>