<link rel="stylesheet" href="./css/bootstrap.min.css">

<link rel="stylesheet" href="./css/aboutstyle.css">

<%- include('partials/header.ejs') %>

  <h1>Projects</h1>

  <h3>Yuki Music Development</h3>

<table cellpadding="15">

    <tr>
        <td>  <img height="300px" width="200px" src="images/project1.jpg"/></td>
        
        <td>Yuki is a music development app 
            <br>that let's you post time stamps
            <br> to practice your songs.</td>
      </tr>

   </table>
