<!-- Projects
Ildaphonse Cornolius
ID: 300699371
Date: October 2nd, 2022 -->
<header>
    Projects
</header>
<!-- 
Linking to the bootstrap css  -->
<link rel="stylesheet" href="./css/bootstrap.min.css">

<link rel="stylesheet" href="./css/aboutstyle.css">
<!-- 
including the header.ejs as a navigation bar  -->
<%- include('partials/header.ejs') %>

  <h1>Projects</h1>

  <h3>Yuki Music Development</h3>
<!-- 
  creating a table with cell padding of 15 separating the image and description -->
<table cellpadding="15">

    <tr>
        <td>  <img height="300px" width="200px" src="images/project1.jpg"/></td>
        
        <td>Yuki is a music development app 
            <br>that let's you post time stamps
            <br> to practice your songs.
        <br> My role in this project was the main developer
    <br> the application is fully functional and is published on github.
<br> A link to the project is found here https://github.com/ilda-cornolius/Yuki_mk3</td>
      </tr>


      <tr>

        <td>
            <img height="300px" width="300px" src="images/project2.jpg"/>
        </td>


        <td>
            Fat Drop Drizzle 
            <br>Is a website for a product that my employer is working on.
            <br> The product is a portable trailer for camping that let's people insulate
            in the cold when camping.
            <br>
            All proceeds go to a better tent city in Kitchener. 
            <br> My role in this project was main project developer
            <br> I worked with the product owner to develop this website.
            <br> The website is currently published at  http://fatdropdrizzle.ml/
        </td>
      </tr>

      <tr>
        <td>  <img height="300px" width="300px" src="images/project3.png"/></td>
        
        <td>Journal Entry
            <br>Is a website that lets you write down your thoughts
            <br> The information is saved in a database
        <br> Each user has their own unique account, similar to twitter.
    <br> My role on this project was the main developer, i worked on the backend of the website
<br> including programming the website in react and implementing API's such as searchify to find posts.
<br> The website is published and can be found at: http://journal-entry.tk/</td>
      </tr>
   </table>


   <%- include('partials/footer.ejs') %>