<link rel="stylesheet" href="./css/bootstrap.min.css">

<%- include('partials/header.ejs') %>

<h4>Services</h4>
  <ul>
    <li>
        Tutoring : 1 hour lessons in programming depending on what type of language learnt.
    </li>
    <li>
        Logo Design Work: I can develop an artistic logo of your choice to use for your company.
    </li>
    <li>
        Web design: I can develop a website for your company suited to your needs.
    </li>
    <li>
        Mobile development: I can develop a mobile app for your company that can increase your market penetration.
    </li>

  </ul>